<footer>
    <div class="footer-position-info first">
      <div class="first-section">
        <h4>NewsLetter</h4>
        <p>
          Ao subscrever a newsletter da nossa empresa estará sempre atualizado em nossas últimas promoções, ofertas e inventário de veículos!
        </p>
        <form action="#">
          <input type="text" placeholder="digita seu email" id="emailfooter" name="emailfooter">
          <button type="submit">subscrever</button>
        </form>
      </div>
      <div class="second-section">
        <h4>Contactos</h4>
        <address>
          <p>
            <fa-icon [icon]="faLocationDot"></fa-icon>Endereço: 1234 Rua Kikuxi, Cidade Luanda, 29FG+9F
          </p>
        </address>
        <p><fa-icon [icon]="faPhone"></fa-icon>Telefone: <a href="+244925548888" target="_blank">+244 925-548-888</a></p>
        <p type="email"><fa-icon [icon]="faEnvelope"></fa-icon>Email: <a id="Email" href="mailto:comercial@nidiorgrupo.com">comercial@nidiorgrupo.com</a></p>
        <div class="logo">
          <div class="socialmidia-position">
            <div class="icon-hover">
              <a
                class="logo-facebook midiasize"
                target="_blank"
                href="https://www.facebook.com"
                alt="Icone"
              >
                <img
                  class="icon-size-position"
                  src="../../../assets/icon-social-midia/icons8-facebook-50.png"
                  alt="Ícone do Facebook">
              </a>
            </div>
            <div class="icon-hover">
              <a
                class="logo-whatsapp midiasize"
                target="_blank"
                href="wa.me/922716667"
                alt="Icone whatsapp"
              >
                <img
                  class="icon-size-position"
                  src="../../../assets/icon-social-midia/icons8-whatsapp-50.png"
                  alt="Ícone whatsapp">
              </a>
            </div>
            <div>
              <a
                class="logo-instagram midiasize"
                target="_blank"
                href="https://www.instagram.com/niodior_keweseki/"
              >
                <img
                  class="icon-size-position"
                  src="../../../assets/icon-social-midia/icons8-instagram-50.png"
                  alt="Ícone Instagram">
              </a>
            </div>

            <div>
              <a
                class="logo-twitter midiasize"
                target="_blank"
                href="https://web.facebook.com/profile.php?id=100081545617772"
              >
                <img
                  class="icon-size-position"
                  src="../../../assets/icon-social-midia/icons8-twitter-50.png"
                  alt="Ícone do Facebook">
              </a>
            </div>

            <div>
              <a
                class="logo-youtube midiasize"
                target="_blank"
                href="https://web.facebook.com/profile.php?id=100081545617772"
              >
                <img
                  class="icon-size-position"
                  src="../../../assets/icon-social-midia/icons8-youtube-50.png"
                  alt="Ícone do youtube">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-position second">
    <div class="footer-text">
      <p>© 2023 Niodior Grupo </p>
      <p><a href="#">Política de Privacidade</a></p>
      <img src="../../../assets/icon/niodior-icon.svg" alt="Nadior Icon">
    </div>
  </div>
  </footer>