header {
  background: white;
  box-shadow: 0px 1.6px 4px rgba(0, 0, 0, 0.25);
}

img {
  width: 85px;
  height: 62px;
  object-fit: cover;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  padding: 0 5% 0 5%;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  position: relative;
  text-decoration: none;
  color: var(--color-azul);
  text-transform: uppercase;
  padding: 0.5rem;
  font-size: 11pt;
  font-weight: 500;
  //transition: all 1s ease-out;
}

#menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: red;
  transition: all 0.3s ease-out;
  //transform-origin: bottom right;
  //transform: scale(0);
}

#menu a:hover::after {
  width: 100%;
}

#menu a:hover {
  color: #083359;
}

.active {
  color: #05ff2600;
  background-color: #05ff2600;

}



#btn-mobile {
  display: none;
}

button {
  display: flex;
  align-items: center;
  gap: 1em;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid transparent;
}

button:hover {
  border-radius: 4px;
  border: 1px solid red;
}


.login--text {
  color: var(--color-red);
}

.user--icon {
  display: flex;
  border-radius: 50%;
  color: white;
  width: 29px;
  font-size: 1.3em;
  align-items: flex-end;
  justify-content: center;
  height: 28px;
  text-align: center;
  background: var(--color-redDead);
}

@media screen and (max-width: 833px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: linear-gradient(to top, #ffffffb5 0%, #fff 91%);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 0;
    transition: background-color 0.8s;
  }

  #menu a::after {
    width: 0;
    transition: 1s;
    //transform-origin: none;
    //transform: scale(1);
  }

  #menu a:hover::after {
    width: 100%;
  }

  //#menu a:hover {}

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    color: var(--color-azul);
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #login-btn {
    display: none;
  }
}
