<div class="module_B wrap-image backround">
  <!-- <div class="title-container">
      <div class="backround-tille" data-aos="fade-down" data-aos-duration="1000">
        <h3>Nosso team</h3>
        <h4>
          O atendimento ao cliente não é um departamento, é trabalho de todos.
        </h4>
      </div>
  </div> -->
</div>

 
    <section class="card-main">
        <div class="card-title">
            <h1>Grupo Administrativo</h1>
        </div>
        <div class="ManagementCard">
            <div class="card-position">
                <div class="card">
                  <div>
                    <img
                      class="card-img"
                      src="../../../../assets/kewesekiShop/niodiorboss.JPG"
                      alt="Niodior"
                    >
                  </div>
                </div>
                <div class="Management-info">
                    <h4>Pedro Raul</h4>
                    <p class="card-info">
                        Chief Executive Officer / CEO
                    </p>
                </div>
                <div class="Management-Paragraph">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quos adipisci cum magnam perspiciatis labore quia temporibus ipsam? Harum, iste sunt totam necessitatibus amet dolore non eligendi voluptatum consequatur quibusdam!
                    </p>
                    <ul>
                        <li><fa-icon [icon]="faPhone"></fa-icon>9-220-123-4567 - Extension +244</li>
                        <li><fa-icon [icon]="faMobileScreenButton"></fa-icon>902-361-7714</li>
                        <li class="Email-text"><fa-icon [icon]="faEnvelope"></fa-icon><a href="#">pedroraul@niodiorkeweseki.com</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <ul class="socialmidia-position">
                        <li class="icon-hover"> <a
                            class="logo-facebook midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-facebook-50.png"
                              alt="Ícone do Facebook">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-instagram midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-instagram-50.png"
                              alt="Ícone Instagram">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-twitter midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-twitter-50.png"
                              alt="icon twitter">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-whatsapp midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-whatsapp-50.png"
                              alt="Ícone Whatsapp">
                          </a></li>
                    </ul>
                </div>
            </div>
            <div class="card-position">
                <div class="card">
                  <div>
                    <img
                      class="card-img"
                      src="../../../../assets/ManagementTeam/retrato-de-rosto-de-homem-senior-usando-chapeu-coco.jpg"
                      alt="niodiorboss"
                    >
                  </div>
                </div>
                <div class="Management-info">
                    <h4>Domingos Faria</h4>
                    <p class="card-info">
                        Diretor Financeiro / CFO
                    </p>
                </div>
                <div class="Management-Paragraph">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quos adipisci cum magnam perspiciatis labore quia temporibus ipsam? Harum, iste sunt totam necessitatibus amet dolore non eligendi voluptatum consequatur quibusdam!
                    </p>
                    <ul>
                        <li><fa-icon [icon]="faPhone"></fa-icon>9-800-123-632 - Extension +244</li>
                        <li><fa-icon [icon]="faMobileScreenButton"></fa-icon>931-817-516</li>
                        <li class="Email-text">
                          <fa-icon [icon]="faEnvelope"></fa-icon>
                          <a href="#">domingosfaria@niodiorkeweseki.com</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <ul class="socialmidia-position">
                        <li class="icon-hover"> <a
                            class="logo-facebook midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-facebook-50.png"
                              alt="Ícone do Facebook">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-instagram midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-instagram-50.png"
                              alt="Ícone Instagram">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-twitter midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-twitter-50.png"
                              alt="icon twitter">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-whatsapp midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-whatsapp-50.png"
                              alt="Ícone Whatsapp">
                          </a></li>
                    </ul>
                </div>
            </div>
            <div class="card-position">
                <div class="card">
                  <div>
                    <img
                      class="card-img"
                      src="../../../../assets/ManagementTeam/charlotte-liu.jpg"
                      alt="Niodior"
                    >
                  </div>
                </div>
                <div class="Management-info">
                    <h4>Marita Venus</h4>
                    <p class="card-info">
                        Gerente de vendas líder
                    </p>
                </div>
                <div class="Management-Paragraph">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quos adipisci cum magnam perspiciatis labore quia temporibus ipsam? Harum, iste sunt totam necessitatibus amet dolore non eligendi voluptatum consequatur quibusdam!
                    </p>
                    <ul>
                        <li><fa-icon [icon]="faPhone"></fa-icon>9-100-123-4527 - Extension +244</li>
                        <li><fa-icon [icon]="faMobileScreenButton"></fa-icon>937-163-317</li>
                        <li class="Email-text"><fa-icon [icon]="faEnvelope"></fa-icon><a href="#">marita@niodiorkeweseki.com</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <ul class="socialmidia-position">
                        <li class="icon-hover"> <a
                            class="logo-facebook midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-facebook-50.png"
                              alt="Ícone do Facebook">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-instagram midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-instagram-50.png"
                              alt="Ícone Instagram">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-twitter midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-twitter-50.png"
                              alt="icon twitter">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-whatsapp midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-whatsapp-50.png"
                              alt="Ícone Whatsapp">
                          </a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-title">
            <h2>NOSSA EQUIPE DE VENDAS</h2>
        </div>

        <div class="ManagementCardtwo">
            <div class="card-position">
                <div class="card">
                  <div>
                    <img
                      class="card-img"
                      src="../../../../assets/ManagementTeam/empresario-alegre-sorrindo_74855-1512.jpg"
                      alt="Niodior"
                    >
                  </div>
                </div>
                <div class="Management-info">
                    <h4>Armando Pedro</h4>
                    <p class="card-info">
                        Representante de vendas
                    </p>
                </div>
                <div class="Management-Paragraph">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quos adipisci cum magnam perspiciatis labore quia temporibus ipsam
                    </p>
                    <ul>
                        <li><fa-icon [icon]="faPhone"></fa-icon>9-220-123-4567 - Extension +244</li>
                        <li><fa-icon [icon]="faMobileScreenButton"></fa-icon>902-361-7714</li>
                        <li class="Email-text"><fa-icon [icon]="faEnvelope"></fa-icon><a href="#">pedroraul@niodiorkeweseki.com</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <ul class="socialmidia-position">
                        <li class="icon-hover"> <a
                            class="logo-facebook midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-facebook-50.png"
                              alt="Ícone do Facebook">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-instagram midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-instagram-50.png"
                              alt="Ícone Instagram">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-twitter midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-twitter-50.png"
                              alt="icon twitter">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-whatsapp midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-whatsapp-50.png"
                              alt="Ícone Whatsapp">
                          </a></li>
                    </ul>
                </div>
            </div>
            <div class="card-position">
                <div class="card">
                  <div>
                    <img
                      class="card-img"
                      src="../../../../assets/ManagementTeam/mulher-de-negocios-africana-confiante-sorrindo-closeup-retrato-para-empregos-e-campanha-de-carreira.jpg"
                      alt="niodiorboss"
                    >
                  </div>
                </div>
                <div class="Management-info">
                    <h4>Analtina Rafael</h4>
                    <p class="card-info">
                        Representante de vendas
                    </p>
                </div>
                <div class="Management-Paragraph">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quos adipisci cum magnam perspiciatis labore quia temporibus ipsam
                    </p>
                    <ul>
                        <li><fa-icon [icon]="faPhone"></fa-icon>9-800-123-632 - Extension +244</li>
                        <li><fa-icon [icon]="faMobileScreenButton"></fa-icon>931-817-516</li>
                        <li class="Email-text"><fa-icon [icon]="faEnvelope"></fa-icon><a href="#">domingosfaria@niodiorkeweseki.com</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <ul class="socialmidia-position">
                        <li class="icon-hover"> <a
                            class="logo-facebook midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-facebook-50.png"
                              alt="Ícone do Facebook">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-instagram midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-instagram-50.png"
                              alt="Ícone Instagram">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-twitter midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-twitter-50.png"
                              alt="icon twitter">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-whatsapp midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-whatsapp-50.png"
                              alt="Ícone Whatsapp">
                          </a></li>
                    </ul>
                </div>
            </div>
            <div class="card-position">
                <div class="card">
                  <div>
                    <img
                      class="card-img"
                      src="../../../../assets/ManagementTeam/homem-de-negocios-preto-feliz-expressao_1194-2635.avif"
                      alt="Niodior"
                    >
                  </div>
                </div>
                <div class="Management-info">
                    <h4>Castro Manuel</h4>
                    <p class="card-info">
                        Gerente de vendas líder
                    </p>
                </div>
                <div class="Management-Paragraph">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quos adipisci cum magnam perspiciatis labore quia temporibus ipsam
                    </p>
                    <ul>
                        <li><fa-icon [icon]="faPhone"></fa-icon>9-100-123-4527 - Extension +244</li>
                        <li><fa-icon [icon]="faMobileScreenButton"></fa-icon>937-163-317</li>
                        <li class="Email-text"><fa-icon [icon]="faEnvelope"></fa-icon><a href="#">marita@niodiorkeweseki.com</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <ul class="socialmidia-position">
                        <li class="icon-hover"> <a
                            class="logo-facebook midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-facebook-50.png"
                              alt="Ícone do Facebook">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-instagram midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-instagram-50.png"
                              alt="Ícone Instagram">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-twitter midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-twitter-50.png"
                              alt="icon twitter">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-whatsapp midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-whatsapp-50.png"
                              alt="Ícone Whatsapp">
                          </a></li>
                    </ul>
                </div>
            </div>
            <div class="card-position">
                <div class="card">
                  <div>
                    <img
                      class="card-img"
                      src="../../../../assets/ManagementTeam/retrato-de-mulher-de-negocios-confiante-rosto-sorridente.jpg"
                      alt="Niodior"
                    >
                  </div>
                </div>
                <div class="Management-info">
                    <h4>rafaela Pedro</h4>
                    <p class="card-info">
                        Representante de vendas
                    </p>
                </div>
                <div class="Management-Paragraph">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quos adipisci cum magnam perspiciatis labore quia temporibus ipsam
                    </p>
                    <ul>
                        <li><fa-icon [icon]="faPhone"></fa-icon>9-100-123-4527 - Extension +244</li>
                        <li><fa-icon [icon]="faMobileScreenButton"></fa-icon>937-163-317</li>
                        <li class="Email-text"><fa-icon [icon]="faEnvelope"></fa-icon><a href="#">marita@niodiorkeweseki.com</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <ul class="socialmidia-position">
                        <li class="icon-hover"> <a
                            class="logo-facebook midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-facebook-50.png"
                              alt="Ícone do Facebook">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-instagram midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-instagram-50.png"
                              alt="Ícone Instagram">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-twitter midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-twitter-50.png"
                              alt="icon twitter">
                          </a></li>
                        <li class="icon-hover"> <a
                            class="logo-whatsapp midiasize"
                            target="_blank"
                            href="https://www.facebook.com"
                       
                          >
                            <img
                              class="icon-size-position"
                              src="../../../../assets/icon-social-midia/icons8-whatsapp-50.png"
                              alt="Ícone Whatsapp">
                          </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            title="Maps"
            class="gmap_iframe"
            width="100%"
            src="https://maps.google.com/maps?width=969&amp;height=400&amp;hl=en&amp;q=keweseki&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          ></iframe
          ><a href="https://connectionsgame.org/">Connections NYT</a>
        </div>
      </div>
    
