<div class="module_B wrap-image backround"></div>

<section>
  <div class="container">
    <div class="inner-page row">
      <div class="for-you">
        <h3>O QUE PODEMOS FAZER POR VOCÊ ?</h3>
        <div class="left-content">
          <p>
            <span>B</span>orem ipsum dolor sit amet consectetur adipisicing elit. Vitae repudiandae amet rerum odit tempora cum, officiis, fuga officia accusamus ab eius. Sit perspiciatis aut quasi sunt quis rerum totam voluptates. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere optio eos consequuntur rerum labore sunt? Eum officiis quaerat saepe esse facere velit voluptatem non, consequatur nostrum ad quis totam voluptate.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Perferendis, molestias? Nihil necessitatibus laudantium dolore
            molestiae perspiciatis. Cupiditate corporis dolore repellendus
            architecto. Architecto ad amet omnis! Similique mollitia aut
            excepturi perferendis?
          </p>
        </div>
      </div>

      <div  class=" thing-to-consider">
          <h3>COISAS A CONSIDERAR</h3>
          <div class="right-content">
            <ul class="icon">
                <li>Fully responsive and ready for all mobile devices</li>
                <li>Integrated inventory management system</li>
                <li>Simple option panel and very easy to customize</li>
              <li>Search engine optimization (SEO) is 100% built-in</li>
             <li>Revolution Slider is included for product marketing</li>
              <li>Tons of shortcodes for quick and easy add-ons</li>
                <li>Fully backed by our dedicated support team</li>
            </ul>
            </div>
        </div>
    </div>
  </div>
</section>
<section>
    <div class="container margin-bottom">
        <div class="Highlight">
            <h4>Destaque seus<strong> Serviços Em Destaque</strong></h4>
        </div>
        <div>
            <div class="featured">
                <ul>
                    <li data-aos="fade-up"
                    data-aos-once="false">
                        <h5>Manuntenção</h5>
                        <img src="../../../../assets/servico.png" alt="">
                        <p>Sed ut perspiciatis unde om natus error sit volup atem aperiam, eaque ipsa quae</p>
                    </li>
                    <li data-aos="fade-up"    data-aos-once="false">
                        <h5>Manuntenção</h5>
                        <img src="../../../../assets/servico (1).png" alt="">
                        <p>Sed ut perspiciatis unde om natus error sit volup atem aperiam, eaque ipsa quae</p>
                    </li>
                    <li data-aos="fade-up"    data-aos-once="false">
                        <h5>Manuntenção</h5>
                        <img src="../../../../assets/chave-do-carro.png" title="carro ícones">
                        <p>Sed ut perspiciatis unde om natus error sit volup atem aperiam, eaque ipsa quae</p>
                    </li>
                    <li data-aos="fade-up"    data-aos-once="false">
                        <h5>Manuntenção</h5>
                        <img src="../../../../assets/suporte-tecnico.png" alt="">
                        <p>Sed ut perspiciatis unde om natus error sit volup atem aperiam, eaque ipsa quae</p>
                    </li>
                  
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="margin-bottom">
    <div class="module_C backround Dealership">
        <div class="container padding-vertical-10 backroundshadow">
    
            <h1>Estatísticas da Concessionária</h1>
    
            <div class="statistic-row">
    
                <div class="car-sold Dealership-Status">
                    <fa-icon [icon]="faCar"></fa-icon>
    
                    <span class=" margin-vertical-15">
                        <span class="number">{{projectcount}}</span>
                    </span>
    
                   Carros vendido
                </div>
    
                <div class="Dealership-Status">
                    <fa-icon [icon]="faShoppingCart"></fa-icon>
                    <span class="margin-vertical-15">
                        $<span class="number">{{clientcount}}</span>
                    </span>
                    Quantidade vendida
                </div>
    
                <div class="Dealership-Status">
                    <fa-icon [icon]="faUsers"></fa-icon>
                    <span class="">
                        <span class="number">{{accuratecount + "%"}}</span>
                    </span>
                    Satisfação do cliente
                </div>
    
                <div class="Dealership-Status">
                    <fa-icon [icon]="faTint"></fa-icon>
                    <span class="">
                        <span class="number">{{customerfeedback}}</span>
                    </span>
                    Mudanças de óleo
                </div>
    
        </div>
    </div>
    </div>
</section>

<section class=" container deatails-section">

        <div class="padding-right-left">
            <h2 class="margin-top-none">Easily Layout Your <strong>Detailed Services</strong></h2>
        </div>
        <div class="detail-service row-service">
    
    
            <div class="padding-right-left" id="item-1">
                <div class="details margin-top">
                    <h5 class="customize">Highly Customizable</h5>
                    <p class="padding-top-10">Sociis natoque penatibus et magnis dis parturient etah
                        montes, nascetur ridiculus mus. Donec quam felis, A
                        ultricies nec, pellentesque eu, pretium quis, sem. Cum
                        sociis natoque penatibus et magnis dis parturient nas. </p>
                </div>
            </div>
            <div class="padding-right-left" id="item-2">
                <div class="details margin-top">
                    <h5 class="awards">Award Winning</h5>
                    <p class="padding-top-10">Sociis natoque penatibus et magnis dis parturient etah
                        montes, nascetur ridiculus mus. Donec quam felis, A
                        ultricies nec, pellentesque eu, pretium quis, sem. Cum
                        sociis natoque penatibus et magnis dis parturient nas. </p>
                </div>
            </div>
            <div class="padding-right-left" id="item-3">
                <div class="details margin-top">
                    <h5 class="music">Music To Your Ears</h5>
                    <p class="padding-top-10">Sociis natoque penatibus et magnis dis parturient etah
                        montes, nascetur ridiculus mus. Donec quam felis, A
                        ultricies nec, pellentesque eu, pretium quis, sem. Cum
                        sociis natoque penatibus et magnis dis parturient nas. </p>
                </div>
            </div>
            <div class="padding-right-left" id="item-4">
                <div class="details margin-top">
                    <h5 class="work">Easy To Work With</h5>
                    <p class="padding-top-10 margin-bottom-none">Sociis natoque penatibus et magnis dis parturient etah
                        montes, nascetur ridiculus mus. Donec quam felis, A
                        ultricies nec, pellentesque eu, pretium quis, sem. Cum
                        sociis natoque penatibus et magnis dis parturient nas. </p>
                </div>
            </div>
            <div class="padding-right-left" id="item-5">
                <div class="details margin-top">
                    <h5 class="ultra">Ultra Responsive</h5>
                    <p class="padding-top-10 margin-bottom-none">Sociis natoque penatibus et magnis dis parturient etah
                        montes, nascetur ridiculus mus. Donec quam felis, A
                        ultricies nec, pellentesque eu, pretium quis, sem. Cum
                        sociis natoque penatibus et magnis dis parturient nas. </p>
                </div>
            </div>
            <div class="padding-right-left" id="item-6">
                <div class="details margin-top">
                    <h5 class="flexible">Flexible Framework</h5>
                    <p class="padding-top-10 margin-bottom-none">Sociis natoque penatibus et magnis dis parturient etah
                        montes, nascetur ridiculus mus. Donec quam felis, A
                        ultricies nec, pellentesque eu, pretium quis, sem. Cum
                        sociis natoque penatibus et magnis dis parturient nas.
                    </p>
                </div>
            </div>
        </div>
    
</section>