<div class="wrapper">
    <main>
      <section class="module parallax parallax-1">
        <div class="parallax-title" data-aos="fade-down" data-aos-duration="1000">
          <h1>KEWESEKI</h1>
        </div>
      </section>
      <section class="module content">
        <div class="container" data-aos="fade-down" data-aos-duration="1000">
          <h2>A NIODIOR KEWESSEKI-ANGOLA</h2>
          <p>
            O Grupo <a href="#" class="group-niodior" target="_blank"> <span>Niodior</span></a> está
            com uma seleção imbatível de carros e motos de alta qualidade, estamos
            prontos para levar você até onde sua aventura quiser ir. Se você busca
            a emoção de uma moto ágil ou a comodidade de um carro moderno, nós
            temos o veículo perfeito para você.
          </p>
          <p>
            Nossa equipe dedicada está pronta para ajudá-lo a encontrar o veículo
            dos seus sonhos. Oferecemos opções de financiamento flexíveis para
            tornar sua compra mais acessível. E depois de levar seu veículo para
            casa, nosso serviço excepcional de manutenção garante que você
            continue a desfrutar da sua paixão pelas estradas.
          </p>
        </div>
      </section>
      <!-- Parallax 2 / Secção serviços-->
      <section class="module parallax parallax-2">
        <h1>KEWESEKI</h1>
      </section>
      <section class="module content two" id="service-section">
        <div class="container" data-aos="fade-down" data-aos-duration="1000">
          <h2>serviços</h2>
          <div class="service-content">
            <div class="service">
                  <div class="service-image">
                      <img src="../../../assets/tire.png" alt="">
                  </div>
                  <div class="service-text">
                    <h3>Manutenção</h3>
                    <p>
                      Consertos em geral consertos especializados em partes vintage
                    </p>
                  </div>
              </div>
            <div class="service">
                  <div class="service-image">
                      <img src="../../../assets/tools.png" alt="">
                  </div>
                  <div class="service-text">
                    <h3>Reparação</h3>
                    <p>
                      Consertos em geral consertos especializados em partes vintage
                    </p>
                  </div>
              </div>
            <div class="service">
                  <div class="service-image">
                      <img src="../../../assets/icons8-calendar-100.png" alt="Agendamento">
                  </div>
                  <div class="service-text">
                    <h3>Agendamento</h3>
                    <p>
                      Consertos em geral consertos especializados em partes vintage
                    </p>
                  </div>
              </div>
          </div>
        </div>
      </section>
      <!-- Exposição dos carros/Moto -->
      <section class="ExposeCar" data-aos=""  data-aos-duration="2000">
        <div class="card-position">
          <div class="card">
            <div>
              <img
                class="card-img"
                src="../../../assets/image-artigo/kewesek-cari.JPG"
                alt="justinohandanga2"
              >
            </div>
            <div class="card-body">
              <h1 class="card-title">Pronta Trilha</h1>
              <a href="#" class="card-btn"><fa-icon [icon]="faLink">_</fa-icon></a>
            </div>
          </div>
          <h4><a href="#">Fabricado pronta para o dia de trilha</a></h4>
          <p class="card-info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quaerat ab assumenda beatae veritatis sed veniam neque facilis fugiat nihil minima, non quas deserunt laborum iste laudantium natus excepturi nobis?
          </p>
        </div>
        <div>
          <div class="card">
            <div>
              <img
                class="card-img"
                src="../../../assets/image-artigo/kewesek-cari.JPG"
                alt="justinohandanga2"
              >
            </div>
            <div class="card-body">
              <h1 class="card-title">Pronta Trilha</h1>
              <a href="#" class="card-btn"><fa-icon [icon]="faLink">_</fa-icon></a>
            </div>
          </div>
          <h4><a href="#">Fabricado pronta para o dia de trilha</a></h4>
          <p class="card-info">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quaerat ab assumenda beatae veritatis sed veniam neque facilis fugiat nihil minima, non quas deserunt laborum iste laudantium natus excepturi nobis?
          </p>
        </div>
        <div>
          <div class="card">
            <div>
              <img
                class="card-img"
                src="../../../assets/image-artigo/kewesek-cari.JPG"
                alt="justinohandanga2"
              >
            </div>
            <div class="card-body">
              <h1 class="card-title">Pronta Trilha</h1>
              <a href="#" class="card-btn"><fa-icon [icon]="faLink">_</fa-icon></a>
            </div>
          </div>
          <h4><a href="#">Fabricado pronta para o dia de trilha</a></h4>
          <p class="card-info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quaerat ab assumenda beatae veritatis sed veniam neque facilis fugiat nihil minima, non quas deserunt laborum iste laudantium natus excepturi nobis?
          </p>
        </div>
      </section>

<!-- Welcome Section -->

      <section class="welcome-section">
        <div class="row">
          <div>
            <h4 class="welcome-title">
              <strong>SEJA BEM-VINDO</strong> AO NOSSO WEBSITE
            </h4>
            <p class="welcome-paragraph">
              Lorem ipsum dolor sit amet, falli tollit cetero te eos. Ea ullum liber
              aperiri mi, impetus ate philosophia ad duo, quem regione ne ius. Vis
              quis lobortis dissentias ex, in du aft philosophia, malis necessitatibus
              no mei. Volumus sensibus qui ex, eum duis doming ad. Modo liberavisse eu
              mel, no viris prompta sit. Pro labore sadipscing et. Ne peax egat usu te
              mel <span class="alternate-font">vivendo scriptorem</span>. Pro labore
              sadipscing et. Ne pertinax egat usu te mel vivendo scriptorem.
            </p>
            <br>
            <p class="welcome-paragraph">
              Cum ut tractatos imperdiet, no tamquam facilisi qui. Eum tibique
              consectetuer in, an referrentur vis, vocent deseruisse ex mel. Sed te
              <span class="alternate-font">idque graecis</span>. Vel ne libris
              dolores, mel graece mel vivendo scriptorem dolorum.
            </p>
          </div>
        </div>
        <section class="carousel" aria-label="Gallery">
          <ol class="carousel__viewport">
            <li id="carousel__slide1" tabindex="0" class="carousel__slide">
              <div class="carousel__snapper">
                <a href="#carousel__slide4" class="carousel__prev"
                  >Go to last slide</a
                >
                <a href="#carousel__slide2" class="carousel__next"
                  >Go to next slide</a
                >
              </div>
            </li>
            <li id="carousel__slide2" tabindex="0" class="carousel__slide">
              <div class="carousel__snapper"></div>
              <a href="#carousel__slide1" class="carousel__prev"
                >Go to previous slide</a
              >
              <a href="#carousel__slide3" class="carousel__next">Go to next slide</a>
            </li>
            <li id="carousel__slide3" tabindex="0" class="carousel__slide">
              <div class="carousel__snapper"></div>
              <a href="#carousel__slide2" class="carousel__prev"
                >Go to previous slide</a
              >
              <a href="#carousel__slide4" class="carousel__next">Go to next slide</a>
            </li>
            <li id="carousel__slide4" tabindex="0" class="carousel__slide">
              <div class="carousel__snapper"></div>
              <a href="#carousel__slide3" class="carousel__prev"
                >Go to previous slide</a
              >
              <a href="#carousel__slide1" class="carousel__next">Go to first slide</a>
            </li>
          </ol>
          <aside class="carousel__navigation">
            <ol class="carousel__navigation-list">
              <li class="carousel__navigation-item">
                <a href="#carousel__slide1" class="carousel__navigation-button"
                  >Go to slide
                </a>
              </li>
              <li class="carousel__navigation-item">
                <a href="#carousel__slide2" class="carousel__navigation-button"
                  >Go to slide
                </a>
              </li>
              <li class="carousel__navigation-item">
                <a href="#carousel__slide3" class="carousel__navigation-button"
                  >Go to slide
                </a>
              </li>
              <li class="carousel__navigation-item">
                <a href="#carousel__slide4" class="carousel__navigation-button"
                  >Go to slide
                </a>
              </li>
            </ol>
          </aside>
        </section>
      </section>      

      <!-- Testumunhasde Clientes -->
      <aside>

        <div class="testimonials" data-aos="fade-right" data-aos-duration="2000">
            <div class="testimonials-title">
                <h1>Clientes Satisfeitos</h1>
                <p>Leia o que nossos clientes satisfeitos têm a dizer</p>
            </div>
            <div class="testimonials-card">
                <div class="testimonials-size">
                    <div class="testimonials-subtitle">
                        <h3>Niodior</h3>
                        <p>A nossa experiência com o Grupo Niodior tem sido excepcional</p>
                    </div>
                    <div class="testimonials-imagem">
                        <img src="../../../assets/profile/Idoso.jpg" alt="">
                        <p>John Deep</p>
                        <span>CEO, ABC Company</span>
                    </div>
                </div>
                <div class="testimonials-size">
                    <div class="testimonials-subtitle">
                        <h3>Niodior</h3>
                        <p>Adoro meu novo carro <span>Kewesiki T8</span> do Niodior Group</p>
                    </div>
                    <div class="testimonials-imagem">
                        <img src="../../../assets/profile/JovemM.jpg" alt="">
                        <p>Marinela Jesuania</p>
                        <span>Gestora de Marketing</span>
                    </div>
                </div>
                <div class="testimonials-size">
                    <div class="testimonials-subtitle">
                        <h3>Niodior</h3>
                        <p>O atendimento ao cliente do Grupo Niodior é de primeira linha</p>
                    </div>
                    <div class="testimonials-imagem">
                        <img src="../../../assets/profile/Jovem.jpg" alt="">
                        <p>Paulo Miguel</p>
                        <span>Vendedor Keweseki</span>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <div>
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            title="Maps"
            class="gmap_iframe"
            width="100%"
            src="https://maps.google.com/maps?width=969&amp;height=400&amp;hl=en&amp;q=keweseki&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          ></iframe
          ><a href="https://connectionsgame.org/">Connections NYT</a>
        </div>
      </div>
    </div>

    </main>
  </div>
  