<div class="module_B wrap-image backround">

</div>

<div class="ExposeCar">
    <img src="../../../../assets/image-artigo/red-quandriciclo.JPG" alt="">
    <img src="../../../../assets/image-artigo/red-quandriciclo.JPG" alt="">
    <img src="../../../../assets/image-artigo/keweseki-motociclo.JPG" alt="">
    <img src="../../../../assets/image-artigo/trciciclo--blue.JPG" alt="">
   
</div>
<div class="ExposeCar">
    <img src="../../../../assets/image-artigo/PHOTO-2023-10-06-07-39-08.jpg" alt="">
    <img src="../../../../assets/image-artigo/PHOTO-2023-10-06-07-39-09 2.jpg" alt="">
    <img src="../../../../assets/image-artigo/PHOTO-2023-10-06-07-39-10 2.jpg" alt="">
    <img src="../../../../assets/image-artigo/PHOTO-2023-10-06-07-39-11.jpg" alt="">
   
</div>


